<!DOCTYPE html>
<html lang="en">
<head>
    <title>{% block title %}Blog App{% endblock %}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <nav>
        <a href="/">Home</a>
        {% if session.get('user_type') == 'Doctor' %}
            <a href="/doctor/blog/create">Create Blog</a>
            <a href="/doctor/blogs">My Blogs</a>
        {% elif session.get('user_type') == 'Patient' %}
            <a href="/blogs/Mental Health">Mental Health Blogs</a>
            <a href="/blogs/Heart Disease">Heart Disease Blogs</a>
        {% endif %}
        <a href="/logout">Login</a>
    </nav>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>
